<md-list>
    <md-list-item>
        <button md-button (click)="closeSidenav()">
          <md-icon>dashboard</md-icon>
          Dashboard
        </button>
    </md-list-item>

    <md-list-item>
        <button md-button (click)="closeSidenav()">
        <md-icon>search</md-icon>
        Search JR
      </button>
    </md-list-item>

    <md-list-item>
        <button md-button (click)="closeSidenav()">
        <md-icon>create</md-icon>
          Create JR
      </button>
    </md-list-item>
</md-list>