<md-sidenav-container fullscreen>

  <md-sidenav #start (open)="closeSideNavStartButton.focus()">
    <md-card>Simple card</md-card>
    <button md-button #closeSideNavStartButton (click)="start.close()" color="primary">Close</button>
    <am-menu (onSelectMenu)="start.close()"></am-menu>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button class="app-icon-button" (click)="start.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> Angular Material 2
  </md-toolbar>

  <md-tab-group >
    <md-tab label="Tab 1">Content 1</md-tab>
    <md-tab label="Tab 2">Content 2</md-tab>
  </md-tab-group>

</md-sidenav-container>